.header
{
    width:1100px;
    background:white;
    max-width:95%;
    margin:auto;
}
.body
{
    width:1100px;
    background:white;
    border:3px solid gray;
    margin: 10px 20px 30px 30px;
    padding: 10px 40px 70px 40px;
}

.lead{

    width:1100px;
    background:white;
    border:3px solid gray;
    margin: 10px 20px 30px 30px;
    padding: 10px 40px 70px 40px;
}


