.reviews{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.reviews h1{
    font-size: 36px;
    font-weight: 600;
}

.reviews p{
    color: #111;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.reviews .row{
    width: 80%;
    margin: auto;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.reviews{
    
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.reviews-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align:left; 
    background: #f3fa96;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.reviews-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.reviews-col p{
    padding: 0;
}

.reviews-col h3{
    margin-top: 15px;
    text-align: left;
}

.reviews-col .fa{
    color: #f44336;
}

@media (max-width:700px){
    .reviews-col img{
        margin-left: 0;
        margin-right: 20px;
    }
    .reviews-col{
        margin-left: 20px;
    }
}
@media (max-width:1110px){
    .reviews-col{
        margin-left: 20px;
    }
}

@media (max-width:510px){
   .reviews .row{
    display: block;
   }   
}