*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body{
  font-family: sans-serif;
 
  user-select: none;
}
nav .logo{
  color: white;
  font-size: 33px;
  font-weight: bold;
  line-height: 100px;
  padding-left: 200px;
}

nav{
  height: 80px;
  background: #fcfdfe;
}
nav ul{
  float: right;
  margin-right: 180px;
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  color: black;
  display: block;
  padding: 0 15px;
  line-height: 170px;
  font-size: 20px;
  background: #fcfdfe;
  transition: .5s;
}
nav ul li a:hover,
nav ul li a.active{
  color: #58a6f4;
}
nav ul ul{
  position: absolute;
  top: 85px;
  border-top: 3px solid #23dbdb;
  opacity: 0;
  visibility: hidden;
}
nav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: .3s linear;
}
nav ul ul li{
  width: 200px;
  display: list-item;
  position: relative;
  border: 1px solid #042331;
  border-top: none;
}
nav ul ul li a{
  line-height: 50px;
}
nav ul ul ul{
  border-top: none;
}
nav ul ul ul li{
  position: relative;
  top: -70px;
  left: 150px;
}
nav ul ul li a i{
  margin-left: 45px;
}
